* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

#root {
  width: 100%;
  height: 100%;
  max-width: 1240px;
}

body {
  height: auto;
  margin: 0;
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 20px;
}
.navbar .links {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}
.navbar .links .link-acceuil, .navbar .links .link-apropos {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  margin-left: 70px;
  cursor: pointer;
}
.navbar .links .link-acceuil.link-acceuil:hover, .navbar .links .link-apropos.link-acceuil:hover {
  text-decoration: underline;
}
.navbar .links .link-acceuil.link-apropos:hover, .navbar .links .link-apropos.link-apropos:hover {
  text-decoration: underline;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

#root {
  width: 100%;
  height: 100%;
  max-width: 1240px;
}

body {
  height: auto;
  margin: 0;
  display: flex;
  justify-content: center;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
  margin-bottom: 10rem;
  height: 7rem;
}
.banner .banner-image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 1;
  height: 13.93rem;
  width: 81vw;
  margin-left: 0%;
}
.banner .banner-background {
  position: absolute;
  width: 81vw;
  height: 14rem;
  background-color: #000000;
  opacity: 0.6;
  z-index: 2;
  border-radius: 25px;
}
.banner .banner-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6rem 1rem;
  position: relative;
  color: #ffffff;
  z-index: 3;
  font-size: 48px;
  font-weight: 700;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

#root {
  width: 100%;
  height: 100%;
  max-width: 1240px;
}

body {
  height: auto;
  margin: 0;
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 81vw;
  position: relative;
  padding-top: 56px;
  background-color: #F6F6F6;
  border-radius: 25px;
}
.card-container .link-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 22rem;
  height: 22rem;
  position: relative;
  margin-bottom: 3rem;
  margin-left: 3rem;
  text-decoration: none;
}
.card-container .link-card .card-image {
  width: 100;
  height: 100%;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.card-container .link-card .card-background {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5019607843));
  position: absolute;
  width: 100%;
  z-index: 2;
  border-radius: 10px;
  height: 100%;
}
.card-container .link-card .card-title {
  display: flex;
  position: absolute;
  width: 55%;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  z-index: 3;
  padding-left: 20px;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

#root {
  width: 100%;
  height: 100%;
  max-width: 1240px;
}

body {
  height: auto;
  margin: 0;
  display: flex;
  justify-content: center;
}

.collapse-container_apropos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.collapse-container_apropos .collapse-apropos {
  /*position: relative;*/
  width: 100%;
  margin-bottom: 2rem;
  max-width: 1023px;
  cursor: pointer;
}
.collapse-container_apropos .collapse-apropos .collapse-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*position: absolute;*/
  box-sizing: border-box;
  width: 100%;
  background-color: #FF6060;
  color: #ffffff;
  height: 3.38rem;
  padding: 10px 20px 10px 15px;
  border-radius: 5px;
  z-index: 1;
}
.collapse-container_apropos .collapse-apropos .collapse-header h2 {
  margin: 0;
  font-size: 1.5rem;
}
.collapse-container_apropos .collapse-apropos .collapse-header img {
  width: 1.5rem;
  height: 0.8rem;
  cursor: pointer;
}
.collapse-container_apropos .collapse-apropos .collapse-body {
  color: #FF6060;
  border-radius: 0px 0px 5px 5px;
  background-color: #F6F6F6;
  font-size: 1.13rem;
}
.collapse-container_apropos .collapse-apropos .collapse-body p {
  margin: 0;
  color: #000000;
  font-weight: 500;
  padding: 10px 20px 10px 15px;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

#root {
  width: 100%;
  height: 100%;
  max-width: 1240px;
}

body {
  height: auto;
  margin: 0;
  display: flex;
  justify-content: center;
}

.error-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.error-section .error-number {
  color: #FF6060;
  font-size: 18rem;
  font-weight: 700;
  margin: 0;
  margin-top: 4rem;
}
.error-section .error-text {
  color: #FF6060;
  font-size: 36px;
}
.error-section .error-back_home {
  color: #000000;
  font-size: 18px;
  margin: 7rem 0;
}

footer {
  max-height: 13rem;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 4rem;
  margin-top: 2rem;
  width: 100%;
}
footer .logo-footer {
  width: 7.62rem;
  height: 2.46rem;
  margin-bottom: 30px;
}
footer .footer-rights {
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0;
  font-size: 20px;
}/*# sourceMappingURL=main.css.map */