@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin center-column{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@mixin position-right{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}